{% extends "base.html" %}

{% block content %}
  <h2>About us</h2>
  <p align="justify">The research mission of <a href="http://www.m-iti.org/"> M-ITI </a> is to expand understanding of human experience and interactive technologies through basic and applied research that is innovative and responsive to manifest real-world needs using multi-disciplinary collaboration drawing on varied perspectives. The ProBot project is one of many's being developed on M-ITI Erachair <a href="http://erachair.m-iti.org/"> M-ITI Erachair </a>, wich has the objective of looking at new ways to examine and communicate the potential of emerging technologies in areas such as robotics, biotechnology, nanotechnology and informatics, as well as their impacts in key areas of contemporary life, in particular aging populations, sustainability and digital culture. </p>
{% endblock %}


