<!doctype html>
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}ProBot Project{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  {% block metadata %}{% endblock %}
  
  {% block js %}{% endblock %}
  
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap-responsive.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style type="text/css">  
  body { padding-top: 70px; }
	@media screen and (max-width: 979px) {
    body { padding-top: 0px; }
	}
 </style>
  
  {% block css %}{% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">

{% block body %}

{% include "nav.html" %}

<header>{% block header %}{% endblock %}</header>

<div class="{% block content_class %}container{% endblock content_class %}">

  <div role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="span12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end span -->
    </div><!-- end row -->
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->


{% block js_footer %}{% endblock %}

{% include "footer.html" %}
<!-- JavaScript at the bottom for fast page loading -->
<script src="{{ url_for('static', filename='libs/jquery/jquery-2.0.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>


<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- end scripts -->
<!-- Google Analytics snippet. Change UA-XXXXXX-X to your site's ID -->
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

{% endblock %}
</body>
</html>
