<!DOCTYPE html>
<html lang='en'>
<head>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style_video_template.css' )}}">
	<link rel="stylesheet" href="//yoannmoinet.github.io/nipplejs/stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="//yoannmoinet.github.io/nipplejs/stylesheets/github-light.css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="//js.stripe.com/v2/"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script>AUTOBAHN_DEBUG = true;</script>
	<script src="//autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
	<script type="text/javascript" probot_id="{{ chosen_probot_id }}" src="{{ url_for('static', filename='js/nipplejs1.js' )}}"></script>
	
	
<style type="text/css">
    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }   
</style>
	
	
</head>

<body>
<div id="wrapper">

	<div style="top:10%; right:12%; text-align:right; position:relative; " id = 'main'>
		<div style="color:black;font-size:200%;" id="battery"></div>
	</div>
		
	<div style=" top: 1%; margin-left: 5%; width:90%; height:100%" id = 'main'>
	<div id ="main2" style=" top: 1%; margin-left: 5%; width:90%; height:100%">
    		<iframe   src="//www.gruveo.com/embed/?code=probot{{ chosen_probot_id }}" frameborder="0" allowfullscreen></iframe> 
    </div>  
	
	</div>

	<div style=" top: 60%; margin-left: 5%; width:20%; height:20%" id = 'main' class='main'>
    		<div id="left"></div>    
	</div>


	<div style=" top: 60%; margin-left: 73.5%; width:20%; height:20%" id = 'main' class='main'>
    		<div id="right"></div>  
	</div>

	<div style=" top: 85%; margin-left: 32%; width:20%; height:20%" id = 'main' class='main'>
 		<input  type="button" id="lockButton" onclick="setColor()" value="Disable/Enable zoom and scroll" style="font-size: 30px;background-color:red;" />
	</div>


</div>

<div id="warning-message" style="text-align: center; position:relative; top:50%;color:black;font-size:300%;">
   <strong> For a better experience, please put your smartphone/tablet on landscape mode.</strong>
</div>

	<script>

	var joystickL = nipplejs.create({
    		zone: document.getElementById('left'),
    		mode: 'static',
    		position: { left: '50%', top: '84%' },
    		color: 'green',
    		size: 250
	});


	var joystickR = nipplejs.create({
    		zone: document.getElementById('right'),
    		mode: 'static',
    		position: { left: '50%', top: '84%' },
    		color: 'red',
    		size: 250
	});

(function($) {
$.fn.nodoubletapzoom = function(count) {
	if(count==1){
    $(this).bind('touchstart', function preventZoom(e){
        var t2 = e.timeStamp;
        var t1 = $(this).data('lastTouch') || t2;
        var dt = t2 - t1;
        var fingers = e.originalEvent.touches.length;
        $(this).data('lastTouch', t2);
        if (!dt || dt > 500 || fingers > 1){
            return; // not double-tap
        }
        e.preventDefault(); // double tap - prevent the zoom
        // also synthesize click events we just swallowed up
        $(e.target).trigger('click');
    });}
    if(count==0){
   		    $(this).unbind('touchstart')		
   				}
    
};
})(jQuery);


    var count = 0;
    function setColor() {
        if (count == 0) {
            document.getElementById("lockButton").style.backgroundColor = '#008000';
            count = 1;
            $("body").nodoubletapzoom(count);
            document.getElementById('main2').style.cssText = 'pointer-events: none; top: 1%; margin-left: 5%; width:90%; height:100%';
            $('body').bind('mousewheel touchmove', function(e){e.preventDefault()})
    
        }
        else {
 		document.getElementById("lockButton").style.backgroundColor =  "#ff0000";
            count = 0;
            $("body").nodoubletapzoom(count);
            document.getElementById('main2').style.cssText = 'top: 1%; margin-left: 5%; width:90%; height:100%';
           $('body').unbind('mousewheel touchmove')
        }
    }
    
window.time = new Date().getTime();

$(document).bind('touchstart', function (e){
window.time = new Date().getTime();  
});

$(document).bind('touchend', function (e){
window.time = new Date().getTime();
});

     function refresh() {
         if(new Date().getTime() - window.time >= 300000){
         	console.log(new Date().getTime() - window.time); 
		 	if(!alert('Too much time without activity. Click OK and try again'))
		 		{window.location = window.location.href.split("#")[0];}}
         else {
            timer1=setTimeout('refresh()', 10000);}
     }

    		timer1=setTimeout('refresh()', 10000);

function getTime() {
    return (new Date()).getTime();
}

var lastInterval = getTime();

function intervalHeartbeat() {
    var now = getTime();
    var diff = now - lastInterval;
    var offBy = diff - 1000; // 1000 = the 1 second delay I was expecting
    lastInterval = now;

    if(offBy > 500) { // don't trigger on small stutters less than 100ms
        console.log('interval heartbeat - off by ' + offBy + 'ms');
        window.location = window.location.href.split("#")[0];
    }
}

setInterval(intervalHeartbeat, 1000);

	</script>
	

	
</body>
</html>
