{% extends "base.html" %}

{% block js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.min.css' )}}">
{% endblock %}	

{% block css %}
<style type="text/css">
img{
    margin:5px;

}
</style>
{% endblock %}

{% block content %}
  <section>

    <h3>Probot's previous versions</h3>
    <div>
      <a class="example-image-link" href="../static/images/ProBot1.jpg" data-lightbox="example-set" data-title="ProBot 1.0"><img class="example-image" src="../static/images/ProBot1_small.jpg" alt=""/></a>
      <a class="example-image-link" href="../static/images/ProBot2.jpg" data-lightbox="example-set" data-title="ProBot 2.0"><img class="example-image" src="../static/images/ProBot2_small.jpg" alt="" /></a>
      <a class="example-image-link" href="../static/images/ProBot3.jpg" data-lightbox="example-set" data-title="ProBot 3.0"><img class="example-image" src="../static/images/ProBot3_small.jpg" alt="" /></a>

    </div>
  </section>
  
  
       <hr />
  
   <section>

    <h3>Visit to the University of Madeira</h3>
    <div>
      <a class="example-image-link" href="../static/images/University1.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/University1_small.JPG" alt=""/></a>
      <a class="example-image-link" href="../static/images/University2.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/University2_small.JPG" alt="" /></a>
      <a class="example-image-link" href="../static/images/University3.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/University3_small.JPG" alt="" /></a>

    </div>
  </section>
  
     <hr />
  
   <section>

    <h3>Carnival</h3>
    <div>
      <a class="example-image-link" href="../static/images/Carnival1.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/Carnival1_small.JPG" alt=""/></a>
      <a class="example-image-link" href="../static/images/Carnival2.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/Carnival2_small.JPG" alt="" /></a>
      <a class="example-image-link" href="../static/images/Carnival3.JPG" data-lightbox="example-set" data-title=""><img class="example-image" src="../static/images/Carnival3_small.JPG" alt="" /></a>

    </div>
  </section>

{% endblock %}

{% block js_footer %}
<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.min.js' )}}"></script>

{% endblock %}
