{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    <h1>What is ProBot?</h1>
    <p align="justify"><br>Most robotics technologies are first implemented in military applications, most of the rest for business. Following on a history of related work, Probots are inexpensive, human-sized protest robots. No one has lost money by replacing human labor with machines, efficient devils, so the unemployment has been rising, and newly graduated Spanish students that are out of work stay too much time drinking calimocho and protesting. The indignados are unorganized and inneficient! So it is time to automate them, send robots for protests, unemploying them twice.<br><br> That’s why we created the ProBot's, a self-balancing robot, with a rigid sturdy frame, a megaphone on the top as a symbol of protest and also as a way to talk to people!
    </p>  
</div>

<div class="row">
    <div class="span4">
        <img src="../static/images/IMG_4446.jpg">
    </div>
    <div class="span4">
        <img src="../static/images/IMG_4456.jpg">
    </div>
    <div class="span4">
        <img src="../static/images/IMG_8586.jpg">
    </div>
</div>
{% endblock %}
