{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='bootstrap/jquery/jquery-3.2.1.min.js') }}"></script>
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<form method=post action="{{ url_for('auth.login') }}">
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>

<a href="{{ url_for('auth.reset_password') }}">Forgot Password?</a>

{% endblock %}
