
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="{{ url_for('index') }}" class="brand" href="#"><b>ProBot Project</b></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% if g.user.is_authenticated %}
          {% if (current_user.email=='admin' and current_user.username=='admin')%}
          <li><a href="{{ url_for('gallery') }}">Photo Gallery</a></li>
		  <li><a href="{{ url_for('probots_admin') }}">ProBots_Admin</a></li>
		  {% endif %}
          <li><a href="{{ url_for('probots') }}">ProBots</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          <li><a href="{{ url_for('auth.reset_password') }}">Change Password</a></li>

          {% else %}
          <li><a href="{{ url_for('gallery') }}">Photo Gallery</a></li>
          <li><a href="{{ url_for('probots') }}">ProBots</a></li>
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>


      
      
     

      
      
      
      
