<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="{{ url_for('index') }}" class="brand" href="#"><b>ProBot Project</b></a>
      <div class="nav-collapse collapse">
        <ul class="nav">         
          {% if g.user.is_authenticated %}
          {% if (current_user.email=='admin' and current_user.username=='admin_password')%}
		  <li><a href="{{ url_for('probots_admin') }}">ProBots Admin</a></li>
		  {% endif %}
          <li><a href="{{ url_for('probots_user') }}">ProBots User</a></li>
          <li id="dropMenu" class="dropdown">
          	<a class="dropdown-toggle" data-toggle="dropdown">Gallery<span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><a href="{{ url_for('probot1_visit_UMa') }}">ProBot1 - Visit to the University of Madeira</a></li>
            		<li><a href="{{ url_for('probot1_vs_probot2') }}">ProBot1 vs ProBot2 - Photo Session</a></li>
            		<li><a href="{{ url_for('probot3_construction') }}">ProBot3 - Construction</a></li>
            		<li><a href="{{ url_for('probot3_tests') }}">ProBot3 - Tests</a></li>
            		<li><a href="{{ url_for('probot3_carnival') }}">ProBot3 - 2017 Carnival</a></li>
          		</ul>
          </li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          <li><a href="{{ url_for('auth.reset_password') }}">Change Password</a></li>
          {% else %}
          <li><a href="{{ url_for('probots_user') }}">ProBots User</a></li> 
          <li id="dropMenu" class="dropdown">
          	<a class="dropdown-toggle" data-toggle="dropdown">Gallery<span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><a href="{{ url_for('probot1_visit_UMa') }}">ProBot1 - Visit to the University of Madeira</a></li>
            		<li><a href="{{ url_for('probot1_vs_probot2') }}">ProBot1 vs ProBot2 - Photo Session</a></li>
            		<li><a href="{{ url_for('probot3_construction') }}">ProBot3 - Construction</a></li>
            		<li><a href="{{ url_for('probot3_tests') }}">ProBot3 - Tests</a></li>
            		<li><a href="{{ url_for('probot3_carnival') }}">ProBot3 - 2017 Carnival</a></li>
          		</ul>
          </li>       
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% endif %}
          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>
