{% extends "base.html" %}

{% block metadata %}
	<meta http-equiv="refresh" content="10">
{% endblock %}

{% block content %}

<h4 align="justify">We have tree diferent types of ProBot's, each one with some body construction differences, but all have the same objective:Protest!</h4>
<br>
<div align="center">
<h4 align="justify">Note: In order to control a ProBot, you have to allow yours certificates. Please click on the button and add a exception on your browser. You just need to do this one time on a specific browser.</h4>
	<button onclick="location.href='https://89.109.64.175:8080'" type="button">Add a exception!</button>

</div>
	<br>
    <div class="row">
      <div class="span4">
		<img src="../static/images/IMG_4464.jpg">

      </div>
      <div class="span4">
		<img src="../static/images/IMG_8585.jpg" >

      </div>
      <div class="span4">
		<img src="../static/images/P_20161119_111859.jpg"  >

      </div>
    </div><!-- end row -->
    
<div align="center">
<br>

	
	<h4>To control a ProBot, please choose one that is available:</h4>
	{% if available_probot == False %}	
	<h4>Sorry, no ProBots available.</h4>
	{% else %}
	
	{% from "_formhelpers.html" import render_field %}

	<form method=post action="{{ url_for('probots') }}">
	

	{{ render_field(form.probot) }}

	<p><input type=submit value=Select>
	</form>
{% endif %}
</div>

{% endblock %}



