{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mqttws31.js' )}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/botControl.css' )}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script type="text/javascript" probot_id="{{ chosen_probot_id }}"  src="{{ url_for('static', filename='js/keyjoy_mqtt.js' )}}"></script>
<script type="text/javascript" enable=3 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }} src="{{ url_for('static', filename='js/mqtt-client.js' )}}"></script>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/offline.min.js' )}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ifvisible.js' )}}"></script>

{% endblock %}

{% block content %}	
<div class="col-md-6">
    <responsive_title style="font-weight: bold;">Connection to the ProBot{{ chosen_probot_id }}:</responsive_title>
    <responsive_title id="statusBBB{{ chosen_probot_id }}">Not connected!</responsive_title>
</div>
<img class="img-battery" src="../static/images/not_connected.png" id="battery{{ chosen_probot_id }}" style="left:95%; position:relative; height: 3%; width: 3%;" />

<div class="video-container"><iframe src="https://www.gruveo.com/embed/?code=probot{{ chosen_probot_id }}&language=en" frameborder="0" allowfullscreen></iframe>
    <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="mainRoutineLabel{{ chosen_probot_id }}">ProBot{{ chosen_probot_id }} is NOT balancing!Returning to the main page in 10 seconds. </span></responsive_title>
    <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="too_much_time{{ chosen_probot_id }}">No activity detected. Returning to the main page in 10 seconds. </span></responsive_title>
    <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="lost_connection{{ chosen_probot_id }}">Lost connection. Returning to the main page in 10 seconds.</span></responsive_title>
    <chart style="position:absolute; top:0%; left:1.5%;" id="chart_div{{ chosen_probot_id }}"></chart>
</div>

<div style="text-align:center; position:relative; color:black;">
    <br>
    <responsive_title style="font-weight: bold;">Select the device you want use to control remotely the ProBot{{ chosen_probot_id }}.</responsive_title>
    <br>
    <input style="height: 0.8vh; height: 5%; width: 5%;" type="image" src="../static/images/gamepad_set.png" id="gamepad" onclick="chooseControl(this.id)">

    <input style="height: 0.8vh; height: 5%; width: 5%;" type="image" src="../static/images/keyboard_set.png" id="keyboard" onclick="chooseControl(this.id)">
    <br>
    <responsive_title>
        <UserDevice style="color:black;font-weight: bold;"> </ UserDevice>
    </responsive_title>
</div>
{% endblock %}

{% block js_footer %}

<script>
var chosen_probot_id = new Array(7).fill(0)
var myVar;
var disable_active=0;

window.onload = function(){
	ifvisible.focus(); // Will trigger wakeup event as well
	ifvisible.wakeup();
	SendDataServer({{ chosen_probot_id }});
	}

ifvisible.setIdleDuration(1800);
ifvisible.on('statusChanged', function(e){


if (e.status == "idle"){
	SendDataServer(0);
	disable_active = 1;
	alert("Too much time without activity!");
	window.location = window.location;
}

if (e.status == "hidden"){
	disable_active = 1;  
	myVar = setTimeout(function(){
	SendDataServer(0);
	
	alert("You minimized or changed tab for too much time!"); 
	window.location = window.location;	
	}, 120000);
}

if (e.status == "active"){
	if (disable_active==0) {
	SendDataServer({{ chosen_probot_id }});
	clearTimeout(myVar);}
}
});


var run = function(){
 if (Offline.state === 'up'){
 	Offline.check();
 	if (disable_active==0) {
	SendDataServer({{ chosen_probot_id }});
	clearTimeout(myVar);}
 	}
 else {
 	alert('You are disconnected from internet!');
 	window.location = window.location;

 }
 }
 setInterval(run, 2000);
 

history.pushState(null, null, document.URL);
window.addEventListener('popstate', function () {
    history.pushState(null, null, document.URL);
});



window.onbeforeunload = window.onunload = function () {
SendDataServer(0);
};

function SendDataServer (id) {
	chosen_probot_id [{{ chosen_probot_id }}] = id;
 	$.post("/WebpageToServer", {
 	chosen_probot_id: String(chosen_probot_id)
  	});
	return undefined;
	
}
</script>
{% endblock %}
