{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/jquery/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mqttws31.js' )}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/botControl.css' )}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script type="text/javascript" probot_id="{{ chosen_probot_id }}"  src="{{ url_for('static', filename='js/nipplejs_mqtt.js' )}}"></script>
<script type="text/javascript" enable=3 mobile=1 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }} src="{{ url_for('static', filename='js/mqtt-client.js' )}}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}"></script>
{% endblock %}

{% block content %}	
<div id="wrapper">

<div class="col-md-6"><responsive_title style="font-weight: bold;">Connection to the ProBot{{ chosen_probot_id }}:</responsive_title>
    <responsive_title id="statusBBB{{ chosen_probot_id }}">Not connected!</responsive_title></div>
<img class="img-battery" src="../static/images/not_connected.png" id="battery{{ chosen_probot_id }}" style="left:95%; position:relative; height: 3%; width: 3%;" />


    <div class="video-container" style="padding-bottom:37%;"><iframe src="https://www.gruveo.com/embed/?code=probot{{ chosen_probot_id }}&language=en" frameborder="0" allowfullscreen></iframe>
        <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="mainRoutineLabel{{ chosen_probot_id }}">ProBot{{ chosen_probot_id }} is NOT balancing!.Returning to the main page in 10 seconds. </span></responsive_title>
        <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="too_much_time{{ chosen_probot_id }}">No activity detected. Returning to the main page in 10 seconds. </span></responsive_title>
        <responsive_title style="text-align:center; position:relative; color:red;"><span style="display:none;" id="lost_connection{{ chosen_probot_id }}">Lost connection. Returning to the main page in 10 seconds.</span></responsive_title>
        <chart style="position:absolute; top:0%; left:1.5%;" id="chart_div{{ chosen_probot_id }}"></chart>

        <div id="left"></div>
        <div id="right"></div>
    </div>
</div>

<div id="warning-message" style="text-align: center; position:relative; top:50%;color:black;">
    <strong> For a better experience, please put your smartphone/tablet on landscape mode.</strong>
</div>

{% endblock %}

{% block js_footer %}
<script>
chooseControl('nipple');

    var joystickL = nipplejs.create({
        zone: document.getElementById('left'),
        mode: 'static',
        position: {
            left: '10%',
            top: '50%'
        },
        color: 'green',
        size: 80,
        restOpacity: 200
    });

    var joystickR = nipplejs.create({
        zone: document.getElementById('right'),
        mode: 'static',
        position: {
            left: '90%',
            top: '50%'
        },
        color: 'red',
        size: 80,
        restOpacity: 200
    });

    
var chosen_probot_id = [];

function refresh() {
chosen_probot_id [{{ chosen_probot_id }}]= {{ chosen_probot_id }};	
$.post("/WebpageToServer", {
    javascript_data: String(chosen_probot_id)
});
setTimeout(refresh, 1000);
}

setTimeout(refresh, 1000);
</script>
{% endblock %}
