{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/jquery/jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='gallery/simplelightbox.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='gallery/demo.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='gallery/simple-lightbox.js' )}}" ></script>
{% endblock %}

{% block css %}
<style type="text/css">  
video {  
  float: left;
  width: 50%;
  height: auto;
  border: 2px solid #fff;
  position: relative;
}


#vertical {  
  float: left;
  width: 25%;
  height: auto;
  border: 2px solid #fff;
  position: relative;
    
}
 </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="gallery">

        <h1 class="align-center">ProBot1 - Visit to the University of Madeira</h1>
        <br>
        <a href="../static/gallery/imagesGallery/image37.jpg"><img src="../static/gallery/imagesGallery/image37.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image38.jpg"><img src="../static/gallery/imagesGallery/image38.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image39.jpg"><img src="../static/gallery/imagesGallery/image39.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image40.jpg"><img src="../static/gallery/imagesGallery/image40.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image41.jpg"><img src="../static/gallery/imagesGallery/image41.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image42.jpg"><img src="../static/gallery/imagesGallery/image42.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image43.jpg"><img src="../static/gallery/imagesGallery/image43.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image44.jpg"><img src="../static/gallery/imagesGallery/image44.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image45.jpg"><img src="../static/gallery/imagesGallery/image45.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image46.jpg"><img src="../static/gallery/imagesGallery/image46.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image47.jpg"><img src="../static/gallery/imagesGallery/image47.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image48.jpg"><img src="../static/gallery/imagesGallery/image48.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image49.jpg"><img src="../static/gallery/imagesGallery/image49.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image50.jpg"><img src="../static/gallery/imagesGallery/image50.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image51.jpg"><img src="../static/gallery/imagesGallery/image51.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image52.jpg"><img src="../static/gallery/imagesGallery/image52.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image53.jpg"><img src="../static/gallery/imagesGallery/image53.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image54.jpg"><img src="../static/gallery/imagesGallery/image54.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image55.jpg"><img src="../static/gallery/imagesGallery/image55.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image56.jpg"><img src="../static/gallery/imagesGallery/image56.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image57.jpg"><img src="../static/gallery/imagesGallery/image57.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image58.jpg"><img src="../static/gallery/imagesGallery/image58.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image59.jpg"><img src="../static/gallery/imagesGallery/image59.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image60.jpg"><img src="../static/gallery/imagesGallery/image60.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image61.jpg"><img src="../static/gallery/imagesGallery/image61.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image62.jpg"><img src="../static/gallery/imagesGallery/image62.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image63.jpg"><img src="../static/gallery/imagesGallery/image63.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image64.jpg"><img src="../static/gallery/imagesGallery/image64.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image65.jpg"><img src="../static/gallery/imagesGallery/image65.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image66.jpg"><img src="../static/gallery/imagesGallery/image66.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image67.jpg"><img src="../static/gallery/imagesGallery/image67.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image68.jpg"><img src="../static/gallery/imagesGallery/image68.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image69.jpg"><img src="../static/gallery/imagesGallery/image69.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image70.jpg"><img src="../static/gallery/imagesGallery/image70.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image71.jpg"><img src="../static/gallery/imagesGallery/image71.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image72.jpg"><img src="../static/gallery/imagesGallery/image72.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image73.jpg"><img src="../static/gallery/imagesGallery/image72.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image74.jpg"><img src="../static/gallery/imagesGallery/image74.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image75.jpg"><img src="../static/gallery/imagesGallery/image75.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image76.jpg"><img src="../static/gallery/imagesGallery/image76.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image77.jpg"><img src="../static/gallery/imagesGallery/image77.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image78.jpg"><img src="../static/gallery/imagesGallery/image78.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image79.jpg"><img src="../static/gallery/imagesGallery/image79.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image80.jpg"><img src="../static/gallery/imagesGallery/image80.jpg" alt="" /></a>
        <div class="clear"></div>

        <a href="../static/gallery/imagesGallery/image81.jpg"><img src="../static/gallery/imagesGallery/image81.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image82.jpg"><img src="../static/gallery/imagesGallery/image82.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image83.jpg"><img src="../static/gallery/imagesGallery/image83.jpg" alt="" /></a>
        <a href="../static/gallery/imagesGallery/image84.jpg"><img src="../static/gallery/imagesGallery/image84.jpg" alt="" /></a>
        <div class="clear"></div>

        <br><br>
        <h1 class="align-center">Videos</h1>
        <br>
        <video controls preload="none" poster="../static/gallery/videosGallery/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4445.MP4" type="video/mp4"></video>
        <video controls preload="none" poster="../static/gallery/videosGallery/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4447.MP4" type="video/mp4"></video>
        <div class="clear"></div>

        <video controls preload="none" poster="../static/gallery/vidvideosGalleryeos/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4449.MP4" type="video/mp4"></video>
        <video controls preload="none" poster="../static/gallery/videosGallery/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4450.MP4" type="video/mp4"></video>
        <div class="clear"></div>

        <video controls preload="none" poster="../static/gallery/videosGallery/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4491.MP4" type="video/mp4"></video>
        <video controls preload="none" poster="../static/gallery/videosGallery/poster_horizontal.png"><source src="../static/gallery/videosGallery/MVI_4492.MP4" type="video/mp4"></video>
        <div class="clear"></div>

    </div>
</div>
{% endblock %}

{% block js_footer %}
<script>
	$(function(){
		var $gallery = $('.gallery a').simpleLightbox();

		$gallery.on('show.simplelightbox', function(){
			console.log('Requested for showing');
		})
		.on('shown.simplelightbox', function(){
			console.log('Shown');
		})
		.on('close.simplelightbox', function(){
			console.log('Requested for closing');
		})
		.on('closed.simplelightbox', function(){
			console.log('Closed');
		})
		.on('change.simplelightbox', function(){
			console.log('Requested for change');
		})
		.on('next.simplelightbox', function(){
			console.log('Requested for next');
		})
		.on('prev.simplelightbox', function(){
			console.log('Requested for prev');
		})
		.on('nextImageLoaded.simplelightbox', function(){
			console.log('Next image loaded');
		})
		.on('prevImageLoaded.simplelightbox', function(){
			console.log('Prev image loaded');
		})
		.on('changed.simplelightbox', function(){
			console.log('Image changed');
		})
		.on('nextDone.simplelightbox', function(){
			console.log('Image changed to next');
		})
		.on('prevDone.simplelightbox', function(){
			console.log('Image changed to prev');
		})
		.on('error.simplelightbox', function(e){
			console.log('No image found, go to the next/prev');
			console.log(e);
		});
	});
</script>
{% endblock %}

