{% extends "base.html" %} {%block body_content%}
<!-- Navigation -->
<!-- USER -->
<nav class="navbar navbar-expand-lg fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="../static/resources/images/logo.png"> ProBot Project
        </a>
        <button class="navbar-toggler navbar-toggler-right navbar-shrink " type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav row ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if current_user.admin %}
                <li class="nav-item dropdown" >
                    <a class="nav-link active dropdown-toggle"  role="button" data-toggle="dropdown" id="dropdownMenu" >Admin</a>
                
                    <div id="dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                            <a  class="dropdown-item" onclick="showAdminProBotInfo();" data-toggle="modal">ProBot Info</a>
                            <a  class="dropdown-item" onclick="showAdminDatabase();" data-toggle="modal">Database Info</a>
                        </div>
                
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.user') }}">ProBots</a>
                </li>
                {% if not current_user.is_authenticated() %}
                <li class="nav-item">
                    <a class="nav-link" href="#loginModal" data-toggle="modal">Login</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    {% if current_user.is_authenticated() %}
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="dropdownMenu">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </a>

                    <div id="dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="#changePasswordModal" data-toggle="modal">Change Password</a>
                        <form class="form-login" role="form" method="post" action="/login">
                            <input class="dropdown-item" type="submit" value="Logout" name="FormType" />
                        </form>
                    </div>
                    {% endif %} {% if MsgOutsideModal == True%} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages%}
                    {% for category, message in messages %}
                    <div id="dropdown-alert" class="dropdown-menu dropdown-menu-right alert-{{ category }}">
                        <div class="dropdown-item text-center">
                            {{message}}
                        </div>
                    </div>
                    {% endfor %} {% endif %} {% endwith %} {% endif %}

                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="databaseModal" class="login-modal modal" style="list-style-type: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                  <!--  <div class="avatar rounded-circle text-center">
                            <i class="fas fa-user fa-3x"></i>
                        </div>
                        <h4 class="modal-title">User Info
                            <hr class="colored">
                        </h4>-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" >
                {% if DatabaseForm %}
                <form class="form-login" role="form" method="post" action="/admin">
                    {{ DatabaseForm.csrf_token }}
                    <div class="form-group">
                        <label>Email</label>
                        {{ DatabaseForm.Email(class="form-control", placeholder="Email") }}
                    </div>
                   <div class="form-group" >
                        <!--<label >Admin Role</label>-->
                        {{ DatabaseForm.AdminRole(hidden=True, class="withoutDots") }}
                    </div>
                    <div class="form-group">
                        <!--<label>Confirmed Email</label>-->
                        {{ DatabaseForm.ConfirmedEmail(hidden=True, class="withoutDots") }}
                    </div>
                    <div class="form-group">
                        <label>Can Control a ProBot?</label>
                        {{ DatabaseForm.ControlProBot(class="withoutDots") }}
                    </div>
                    <div class="form-group">
                        <input value="Confirm" name="ChangeUserDatabase" type="submit" class="btn btn-secondary btn-lg btn-block login-btn" />
                    </div>
                    
                </form>
                {% endif %}

            </div>

        </div>
    </div>
</div>

<div class="wrapper">
    <section class="page-section" id="admin">
        <div class="container text-center" >
            <div id="databaseInfo">
                <h3>Database info</h3>
                {{ table }}
                </div>
            <div id="ProBotInfo">   
                <h3>ProBot info</h3>
            <table class="table-fill" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">ProBots</th>
                        <th class="text-center">Telemetry</th>
                        <th class="text-center">User Ip Address/Country</th>
                        <th class="text-center">ProBot Ip Address</th>
                        <th class="text-center">ProBot Control </th>

                    </tr>
                </thead>
                <tbody class="tprobots">
                    <tr>

                    </tr>
                </tbody>

            </table>
            <span class="battery">*Changes may not be instantaneous.</span>
        </div>
        </div>
    </section>

    {%endblock%}