{% extends "base.html" %} {% block content %}

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages%}
<div class="row">
  <div class="col-md-12" align = "center">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
      {{message}}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endwith %} {% if error %}
<p class="error">
  <strong>Error:</strong> {{ error }}</p>
{% endif %}
</div>

<div class="modal-dialog modal-login">
  <div class="modal-content">
    <div class="modal-header">
      <div class="avatar rounded-circle text-center">
        <i class="fas fa-user fa-3x"></i>
      </div>
      <h4 class="modal-title">Change Password
        <hr class="colored">
      </h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <form class="form-reset" role="form" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.password(class="form-control", placeholder="password") }}
          <span class="error">
            {% if form.password.errors %} {% for error in form.password.errors %} {{ error }} {% endfor %} {% endif %}
          </span>
        </div>
        <div class="form-group">
          {{ form.confirm(class="form-control", placeholder="retype password") }}
          <span class="error">
            {% if form.confirm.errors %} {% for error in form.confirm.errors %} {{ error }} {% endfor %} {% endif %}
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-lg btn-block login-btn">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}