{% extends "base.html" %} {% block content %}


<div class="wrapper"></div>
<div class="modal-dialog modal-login">
  <div class="modal-content">
    <div class="modal-header">
      <div class="avatar rounded-circle text-center">
        <i class="fas fa-user fa-3x"></i>
      </div>
      <h4 class="modal-title">Register
        <hr class="colored">
      </h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <form class="form-login" role="form" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.email(class="form-control", placeholder="email") }}
          <span class="error">
            {% if form.email.errors %} {% for error in form.email.errors %} {{ error }} {% endfor %} {% endif %}
          </span>
        </div>
        <div class="form-group">
          {{ form.password(class="form-control", placeholder="password") }}
          <span class="error">
            {% if form.password.errors %} {% for error in form.password.errors %} {{ error }} {% endfor %} {% endif %}
          </span>
        </div>
        <div class="form-group">
          {{ form.confirm(class="form-control", placeholder="retype password") }}
          <span class="error">
            {% if form.confirm.errors %} {% for error in form.confirm.errors %} {{ error }} {% endfor %} {% endif %}
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-lg btn-block login-btn">Register</button>
        </div>
      </form>
    </div>
    <div class="modal-footer row text-center">
      <div class="col-md">
        <p>Already have an account?
          <a href="{{ url_for('user.login') }}">Sign in</a>.</p>
      </div>
      <div class="w-100"></div>
    </div>
  </div>
</div>

{% endblock %}